@tailwind  base;
@tailwind components;
@tailwind utilities;

/* Add smooth scrolling */
html {
  scroll-behavior: smooth;
}

@layer base {
  .dark {
    --tw-bg-opacity: 1;
    background-color: rgba(17 24 39 / var(--tw-bg-opacity));
  }
  
  .dark .text-gray-900 {
    --tw-text-opacity: 1;
    color: rgba(243 244 246 / var(--tw-text-opacity));
  }
  
  .dark .text-gray-700 {
    --tw-text-opacity: 1;
    color: rgba(209 213 219 / var(--tw-text-opacity));
  }
  
  .dark .text-gray-600 {
    --tw-text-opacity: 1;
    color: rgba(156 163 175 / var(--tw-text-opacity));
  }
  
  .dark .text-gray-500 {
    --tw-text-opacity: 1;
    color: rgba(107 114 128 / var(--tw-text-opacity));
  }
  
  .dark .text-gray-400 {
    --tw-text-opacity: 1;
    color: rgba(107 114 128 / var(--tw-text-opacity));
  }
  
  .dark .bg-white {
    --tw-bg-opacity: 1;
    background-color: rgba(31 41 55 / var(--tw-bg-opacity));
  }
  
  .dark .bg-gray-50 {
    --tw-bg-opacity: 1;
    background-color: rgba(17 24 39 / var(--tw-bg-opacity));
  }
  
  .dark .border-gray-300 {
    --tw-border-opacity: 1;
    border-color: rgba(75 85 99 / var(--tw-border-opacity));
  }
}
 